@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
  --color-main: #4502C7;
  --color-text: #25282B;
}

* {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Container */
.container {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}
/* End Container */

/* Top Header */
.top-header {
  background-color: var(--color-main);
  padding: 10px 0;
}

.top-header .inner-wrap {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.top-header .inner-item {
  color: #FFFBEB;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-header .inner-item i {
  font-size: 20px;
}

@media (max-width: 768px) {
  .top-header {
    display: none;
  }
}
/* End Top Header */

/* Header */
.header {
  background-color: white;
  padding: 12px 0;
}

.header .inner-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .inner-logo img {
  width: 218px;
  height: auto;
}

.header ul {
  list-style: none; /* Removes bullet points */
  margin: 0;        /* Removes default top/bottom spacing */
  padding: 0;       /* Removes default left indentation */
}

.header .inner-menu > ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header .inner-menu > ul > li {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.header .inner-menu > ul > li > a {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
}

.header .inner-menu > ul > li > a.active, .header .inner-menu > ul > li > a:hover {
  color: var(--color-main);
}

.header .inner-menu > ul > li > i {
  font-size: 16px;
  color: var(--color-text);
}

.header .inner-menu > ul > li:hover > i::before {
  content:  "\f0d8";
}

.header .inner-menu > ul > li  > ul {
  position: absolute;
  width: 280px;
  top: 100%;
  left: 0;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 8px 0;
  display: none;
}

.header .inner-menu > ul > li:hover  > ul {
  display: block;
}

.header .inner-menu > ul > li  > ul > li > a {
  color: var(--color-main);
  font-weight: 400;
  font-size: 16px;
  display: block;
  padding: 8px 22px;
}

.header .inner-menu > ul > li  > ul > li > a.active, .header .inner-menu > ul > li  > ul > li > a:hover {
  background-color: var(--color-main);
  color: white;
}

.header .inner-cart {
  display: flex;
  align-items: center;
}

.header .inner-cart .inner-cart-logo {
  width: 28px;
  height: auto;
}

.header .inner-cart .inner-triagle-logo {
  margin-right: -0.5px;
}

.header .inner-cart .inner-number {
  width: 15px;
  aspect-ratio: 1/1;
  background-color: #FF3904;
  font-weight: 400;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.header .inner-button-menu {
  display: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header .inner-menu > ul {
    gap: 30px;
  }
}

@media (max-width: 992px) {
  .header .inner-menu {
    display: none;
  }

  .header .inner-button-menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 16px 0;
  }

  .header .inner-logo img {
    width: 181px;
  }
}
/* End Header */