@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
  --color-main: #4502C7;
}

* {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

body {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}
/* End Container */

/* Top Header */
.top-header {
  background-color: var(--color-main);
  padding: 10px 0;
}

.top-header .inner-wrap {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.top-header .inner-item {
  color: #FFFBEB;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-header .inner-item i {
  font-size: 20px;
}

@media (max-width: 768px) {
  .top-header {
    display: none;
  }
}
/* End Top Header */